{% load static %}

<!-- Sidebar -->
<div class="sidebar">

    <!-- Logo -->
    <div class="sidebar-logo">
        <img src="{% static 'images/Temporaries/Logo 9.png' %}" alt="AgriHub Logo">
    </div>

    <!-- Links -->
    <div class="links">

        <div class="link-title">Main Menu</div>

        <!-- Dashboard Button -->
        <div class="link-item active" onclick="showTab('dashboard', 'Dashboard', this)">
            <button>
                <!-- Default Icon -->
                <span class="icon default-icon">
                    <!-- put your default svg here -->
                    <svg fill="#6a717f" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
                        <path d="M .6249 27.8242 C .6249 28.9492 1.5155 29.6289 2.6171 29.6289 C 3.2968 29.6289 3.8358 29.3008 4.3046 28.8320 L 27.1796 7.9961 C 27.4374 7.7383 27.7187 7.6445 28.0233 7.6445 C 28.3046 7.6445 28.5624 7.7383 28.8436 7.9961 L 51.6954 28.8320 C 52.1874 29.3008 52.7264 29.6289 53.3826 29.6289 C 54.4842 29.6289 55.3751 28.9492 55.3751 27.8242 ..."></path>
                    </svg>
                </span>

                <!-- Active Icon -->
                <span class="icon active-icon">
                    <svg fill="#fefeff" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg" stroke="#fefeff">
                        <path d="M .6249 27.8242 C .6249 28.9492 1.5155 29.6289 2.6171 29.6289 ..."></path>
                    </svg>
                </span>

                <span class="text">Dashboard</span>
            </button>
        </div>

        <!-- Products Button -->
        <div class="link-item" onclick="showTab('products', 'Products', this)">
            <button>
                <!-- Default Icon -->
                <span class="icon default-icon">
                    <svg fill="#6a717f" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" stroke="#6a717f">
                        <path d="M50.14,29.39c-0.11-4.69-1.08-12.12-5.73-16.49C37.08,6.02,25.48,7.41,20.26,11c-4.84,3.33-6.88,7.34-8.53,10.56 ..."></path>
                    </svg>
                </span>

                <!-- Active Icon -->
                <span class="icon active-icon">
                    <svg fill="#fefeff" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" stroke="#fefeff">
                        <path d="M50.14,29.39c-0.11-4.69-1.08-12.12-5.73-16.49 ..."></path>
                    </svg>
                </span>

                <span class="text">Products</span>
            </button>
        </div>

        <!-- Orders Button -->
        <div class="link-item" onclick="showTab('orders', 'Orders', this)">
            <button>
                <!-- Default Icon -->
                <span class="icon default-icon">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 2C8.67157 2 8 2.67157 8 3.5V4.5C8 5.32843 8.67157 6 9.5 6H14.5C15.3284 6 16 5.32843 16 4.5V3.5C16 2.67157 15.3284 2 14.5 2H9.5Z" fill="#6a717f"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 4.03662C5.24209 4.10719 4.44798 4.30764 ..."></path>
                    </svg>
                </span>

                <!-- Active Icon -->
                <span class="icon active-icon">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 2C8.67157 2 8 2.67157 8 3.5V4.5C8 5.32843 8.67157 6 9.5 6H14.5C15.3284 6 16 5.32843 16 4.5V3.5C16 2.67157 15.3284 2 14.5 2H9.5Z" fill="#fefeff"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 4.03662C5.24209 4.10719 4.44798 4.30764 ..."></path>
                    </svg>
                </span>

                <span class="text">Orders</span>
            </button>
        </div>

    </div>
</div>
