{% extends 'shared/base.html' %}
{% load custom_filters %}


{% block content %}
<div style="max-width: 800px; margin: 40px auto;">

    {% if messages %}
        <ul style="padding: 10px; background-color: #d4edda; color: #155724; border-radius: 5px; list-style: none; margin-bottom: 20px;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2 style="margin-bottom: 20px;">My Orders</h2>

    <div style="margin-bottom: 20px;">
        <a href="{% url 'main:home' %}">Browse more</a>
    </div>

    {% for order in orders %}
    <div class="order-card">
        <h3>Order #{{ order.id }}</h3>
        <p>Date: {{ order.created_at }}</p>

        <table border="1" cellpadding="5">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price Each</th>
                <th>Total</th>
            </tr>
            {% for item in order.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₱ {{ item.price_at_purchase }}</td>
                    <td>₱ {{ item.quantity|multiply:item.price_at_purchase }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% empty %}
    <p>You have no orders yet.</p>
    {% endfor %}


</div>
{% endblock %}
