{% extends 'shared/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Your Shopping Cart - AgriHub Philippines{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/order_monitoring.css' %}">


<main>

    <div class="order-content">

        <div class="cart-title">
            <div class="order-info">
                <h3>Order Details</h3>
                <h4>&middot; April 24, 2021 &middot; 3 Products</h4>
            </div>

            <a href="http://127.0.0.1:8000/orders/design/" class="back-link">
                Back to Orders
            </a>
        </div>



        <div class="orders-personal-info">


            <!-- Orders Address Card (Left) -->
            <div class="orders-address-card">

                <div class="address-card-title">
                    <h3>Address Information</h3>
                </div>

                <div class="orders-top-section">
                    <div class="label-top">
                        <span class="address-label">Home</span>
                    </div>
                </div>

                <div class="upper-address-label-section">
                    <p class="address-card-name">Juan Dela Cruz</p>
                </div>

                <div class="middle-address-section">
                    <p class="address-card-address">
                        123 Sample Street, Dalig, Antipolo, Rizal 1870
                    </p>
                    <p class="address-card-landmark">
                        Landmark: Near Antipolo Cathedral
                    </p>
                </div>

                <div class="lower-address-contact-section">
                    <p class="address-card-email">juan.delacruz@email.com</p>
                    <p class="address-card-phone">0917 123 4567</p>
                </div>
            </div>


            <!-- Payment Information (Right)-->
            <div class="payment-information">

                <div class="order-information-right">



                    <div class="summary-row">
                        <span>Order ID:</span>
                        <span>0001</span>
                    </div>

                    <div class="summary-row">
                        <span>Payment Method:</span>
                        <span>Cash on Delivery</span>
                    </div>

                    <div class="summary-row divider" id="divider1"></div>


                    <div class="summary-row" id="items-total-group">
                        <span>Item(s) Total</span>
                        <span>PHP 1,500.00</span>
                    </div>

                    <div class="summary-row" id="shop-discount-group">
                        <span>Shop Discount</span>
                        <span>PHP 200.00</span>
                    </div>
                    
                    <div class="summary-row divider" id="divider1"></div>

                    <div class="summary-row" id="subtotal-group">
                        <span>Subtotal</span>
                        <span>PHP 1,300.00</span> 
                    </div>

                    <div class="summary-row" id="shipping-fee-group">
                        <span>Shipping Fee</span>
                        <span>PHP 100.00</span>
                    </div>

                    <div class="summary-row divider"></div>

                    <div class="summary-row total" id="final-total-group">
                        <span>Total (3 items)</span>
                        <span><strong>PHP 1,400.00</strong></span>
                    </div>
                </div>


            </div>

        </div>



         <!-- Order Progress Bar -->
        <div class="order-progress">

            <!-- Step 1 -->
            <div class="step completed">
                <div class="circle">01</div>
                <span class="label">Order Placed</span>
            </div>

            <!-- Bar -->
            <div class="bar completed"></div>

            <!-- Step 2 -->
            <div class="step completed">
                <div class="circle">02</div>
                <span class="label">Processing</span>
            </div>

            <!-- Bar -->
            <div class="bar"></div>

            <!-- Step 3 -->
            <div class="step pending">
                <div class="circle">03</div>
                <span class="label">On the Way</span>
            </div>

            <!-- Bar -->
            <div class="bar"></div>

            <!-- Step 4 -->
            <div class="step pending">
                <div class="circle">04</div>
                <span class="label">Order Received</span>
            </div>

        </div>


        <!-- Product Summary Section -->
        <div class="orders-main-product-section">
            <!-- Header row -->
            <div class="orders-product-header">
                <div class="product-col" id="product-column-name">Product</div>
                <div class="price-col">Price</div>
                <div class="qty-col">Quantity</div>
                <div class="subtotal-col">Subtotal</div>
            </div>

            <!-- Product row 1 -->
            <div class="orders-product-row">
                <div class="product-col product-info">
                    <img src="https://i.imgur.com/EgXjPGB.png" alt="Product A" class="product-img">
                    <span class="product-name">Durian (350g)</span>
                </div>
                <div class="price-col">₱380.00</div>
                <div class="qty-col">x2</div>
                <div class="subtotal-col">₱760.00</div>
            </div>

            <!-- Product row 1 -->
            <div class="orders-product-row">
                <div class="product-col product-info">
                    <img src="https://i.imgur.com/EgXjPGB.png" alt="Product A" class="product-img">
                    <span class="product-name">Durian (350g)</span>
                </div>
                <div class="price-col">₱380.00</div>
                <div class="qty-col">x2</div>
                <div class="subtotal-col">₱760.00</div>
            </div>

            <!-- Product row 1 -->
            <div class="orders-product-row">
                <div class="product-col product-info">
                    <img src="https://i.imgur.com/EgXjPGB.png" alt="Product A" class="product-img">
                    <span class="product-name">Durian (350g)</span>
                </div>
                <div class="price-col">₱380.00</div>
                <div class="qty-col">x2</div>
                <div class="subtotal-col">₱760.00</div>
            </div>
        </div>




    </div>



</main>

{% endblock %}