/* === vvv GLOBAL CSS DO NOT TOUCH vvv === */
/* Logo Font Temporary */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* Search (Don't Touch) */
@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Reset Everything */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
    background: #f8f8f8;
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}
/* === ^^^ GLOBAL CSS DO NOT TOUCH ^^^ === */

