{% extends 'shared/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

<a href="http://127.0.0.1:8000/cart/design/">(Temporary) Cart Design Page</a>
<h1>Your Cart</h1>

{% if cart_items %}
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>₱ {{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>₱ {{ item.subtotal|floatformat:2|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Total: ₱ {{ total|intcomma }}</h3>

{% else %}
  <p>Your cart is empty.</p>
{% endif %}

{% if cart_items %}
  <a href="{% url 'orders:checkout' %}" class="btn btn-primary">
    Proceed to Checkout
  </a>
{% endif %}



{% endblock %}
